//- Meta Information associated with the app

meta(
  charset="utf-8")
meta(
  http-equiv="X-UA-Compatible",
  content="IE=edge,chrome=1")
title= title
meta(
  name= "description",
  content= "This is the most awesome site in the world!!!")
meta(
  name= "viewport",
  content= "width=device-width")